#!/bin/bash
chkconfig --level 35 mysqld on
mysqladmin -uroot password openstack
mysql -uroot -popenstack -e "grant all privileges on *.* to root@'%' identified by 'openstack' with grant option;"
mysql -uroot -popenstack -e "use keystone" > /dev/null 2>&1
if [[ $? != 0 ]];then
    mysql -uroot -popenstack -e 'DROP DATABASE keystone;'
    mysql -uroot -popenstack -e 'CREATE DATABASE keystone character set utf8;'
    mysql -uroot -popenstack -e "grant all on keystone.* to 'keystone'@'`hostname`' identified by 'keystone'"
    mysql -uroot -popenstack -e "grant all on keystone.* to 'keystone'@'localhost' identified by 'keystone'"
    mysql -uroot -popenstack -e "grant all on keystone.* to 'keystone'@'%' identified by 'keystone'"
fi
mysql -uroot -popenstack -e "use glance" > /dev/null 2>&1
if [[ $? != 0 ]];then
    mysql -uroot -popenstack -e "DROP DATABASE glance;"
    mysql -uroot -popenstack -e "CREATE DATABASE glance character set utf8;"
    mysql -uroot -popenstack -e "GRANT ALL ON glance.* TO 'glance'@'`hostname`' IDENTIFIED BY 'glance';"
    mysql -uroot -popenstack -e "GRANT ALL ON glance.* TO 'glance'@'localhost' IDENTIFIED BY 'glance';"
    mysql -uroot -popenstack -e "GRANT ALL ON glance.* TO 'glance'@'%' IDENTIFIED BY 'glance';"
fi
mysql -uroot -popenstack -e "use nova" > /dev/null 2>&1    
if [[ $? != 0 ]];then
    mysql -uroot -popenstack -e "DROP DATABASE nova;"
    mysql -uroot -popenstack -e "CREATE DATABASE nova character set utf8;"
    mysql -uroot -popenstack -e "GRANT ALL ON nova.* TO 'nova'@'`hostname`' IDENTIFIED BY 'nova';"
    mysql -uroot -popenstack -e "GRANT ALL ON nova.* TO 'nova'@'localhost' IDENTIFIED BY 'nova';"
    mysql -uroot -popenstack -e "GRANT ALL ON nova.* TO 'nova'@'%' IDENTIFIED BY 'nova';"
fi
mysql -uroot -popenstack -e "use neutron" > /dev/null 2>&1 
if [[ $? != 0 ]];then
    mysql -uroot -popenstack -e "DROP DATABASE neutron;"
    mysql -uroot -popenstack -e "CREATE DATABASE neutron character set utf8;"
    mysql -uroot -popenstack -e "GRANT ALL ON neutron.* TO 'neutron'@'`hostname`' IDENTIFIED BY 'neutron';"
    mysql -uroot -popenstack -e "GRANT ALL ON neutron.* TO 'neutron'@'localhost' IDENTIFIED BY 'neutron';"
    mysql -uroot -popenstack -e "GRANT ALL ON neutron.* TO 'neutron'@'%' IDENTIFIED BY 'neutron';"
fi
mysql -uroot -popenstack -e "use cinder" > /dev/null 2>&1 
if [[ $? != 0 ]];then
    mysql -uroot -popenstack -e "DROP DATABASE cinder;"
    mysql -uroot -popenstack -e "CREATE DATABASE cinder character set utf8;"
    mysql -uroot -popenstack -e "GRANT ALL ON cinder.* TO 'cinder'@'`hostname`' IDENTIFIED BY 'cinder';"
    mysql -uroot -popenstack -e "GRANT ALL ON cinder.* TO 'cinder'@'localhost' IDENTIFIED BY 'cinder';"
    mysql -uroot -popenstack -e "GRANT ALL ON cinder.* TO 'cinder'@'%' IDENTIFIED BY 'cinder';"
fi
mysql -uroot -popenstack -e "use ceilometer" > /dev/null 2>&1
if [[ $? != 0 ]];then
    mysql -uroot -popenstack -e "DROP DATABASE ceilometer;"
    mysql -uroot -popenstack -e "CREATE DATABASE ceilometer character set utf8;"
    mysql -uroot -popenstack -e "GRANT ALL ON ceilometer.* TO 'ceilometer'@'`hostname`' IDENTIFIED BY 'ceilometer';"
    mysql -uroot -popenstack -e "GRANT ALL ON ceilometer.* TO 'ceilometer'@'localhost' IDENTIFIED BY 'ceilometer';"
    mysql -uroot -popenstack -e "GRANT ALL ON ceilometer.* TO 'ceilometer'@'%' IDENTIFIED BY 'ceilometer';"
fi
mysql -uroot -popenstack -e "use nebula" > /dev/null 2>&1
if [[ $? != 0 ]];then
    mysql -uroot -popenstack -e "DROP DATABASE nebula;"
    mysql -uroot -popenstack -e "CREATE DATABASE nebula character set utf8;"
    mysql -uroot -popenstack -e "GRANT ALL ON nebula.* TO 'nebula'@'`hostname`' IDENTIFIED BY 'nebula';"
    mysql -uroot -popenstack -e "GRANT ALL ON nebula.* TO 'nebula'@'localhost' IDENTIFIED BY 'nebula';"
    mysql -uroot -popenstack -e "GRANT ALL ON nebula.* TO 'nebula'@'%' IDENTIFIED BY 'nebula';"
fi
